body{
    background-color: rgb(181, 181, 243);
}


#qr_code

{   background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    justify-content: center;
    border: 120px;
    border-radius: 15px;
    border-color: black;
    margin: 35%;
    padding: 2%;
    font-size: 15px;

}



.image{
    width: 300px ;
    height: 300px;
    text-align: center;
}

.footer a {
    color: white;
  }





   
